.title {background-color:transparent;padding:0!important;font-size:170%;text-shadow: 2px 2px 4px #000000;}
.title:hover {background-color:transparent!important;color:lightgray!important;}
.inline {display: inline-block;}

#footer {
  position:absolute;
  left:0;
  width:100%;
  color:white;
}

.black {
  margin-top: 0 !important;
  padding-top: 35px;
  padding-bottom: 5px;
  background-color: rgba(15, 15, 15, 1);
  color: white;
}

.black p {font-size: 16px;}
table {margin:0 !important;padding:0 !important;}

.black td {
  margin: 0;
  padding: 0;
  text-align: center;
}

.black h3 {padding-bottom: 16px;}
table {width:100%;}
.copy {font-size:70%;}

@media all and (max-width: 1024px) {
    iframe[name=speedyadsframe] {display: none!important;}
}