.w3-theme-light{color:#000 !important;background-color:#f2f9fe !important}
.w3-theme-dark{color:#fff !important;background-color:#074b83 !important}
.w3-theme-action{color:#fff !important;background-color:#074b83 !important}
.w3-theme{color:#fff !important; background-color:#0a6fc2 !important}